replicaCount: 1

image:
  repository: mushroomhat/startrack
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  []
  # - name: LOG_LEVEL
  #   value: info
